

.cats-list{
  margin-top: 50px;

  .cats-facts {
    margin-top: 40px;
    height: 600px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding:10px 30px 30px 30px;

    .card-cat {
      display: flex;
      flex-direction: row;
      width: 250px;
      padding: 20px;
      line-height: 2rem;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      word-break: break-word;
      white-space: break-spaces;
      border-radius: 10px;
    }


    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {

    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border-radius: 5px;
    }
  }


}
