<mat-toolbar class="site-content-toolbar" color="secondary">
  <div class="container">
    <div layout="row" class="fill-height layout-row flex">
      <span class="title">Demo App</span>
      <span class="spacer"></span>
      <button *ngIf='isLogin$ | async '  routerLink="/faktura" mat-button aria-label="Link">Faktura</button>
      <button *ngIf='isLogin$ | async' (click)="logout()"   mat-button aria-label="Link">Logout</button>
    </div>
  </div>
</mat-toolbar>
<div class="container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
